
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #9073c3, #5974b7) fixed;
  margin: 30px;
  font-family: verdana;
}

.container {
  padding-left:10px;
  padding-right:10px;
  margin:0 auto;
  width:100%;
  max-width:900px;
}

.container-1 {
  display: flex;
  height:900px;
  flex-direction: row;
  align-items: center;
  border: none;
  flex-wrap: wrap-reverse;
}

.box {
background-color: #ffffff30;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
width:26.33%;
color: white;
font-size: 30px;
margin: 30px;
border-radius: 2px;
flex-wrap: wrap-reverse;
}

.box h1 {
  font-size: 25px;
  margin-top: 30px;
}

.box p {
  font-size: 13px;
  color: black;
  text-align: center;
  margin: 20px;
}

.box li {
  color: black;
 font-size: 13px;
 list-style: none;
 margin: 15px;
}

.box .price {
  font-size: 45px;
  font-style: bold;
  margin: 15px;
}

.line {
  display: block;
  border-top: 1px solid #7e80bbd4;
  border-bottom: 1px solid #7e80bbd4;
}

.box .btn {
  display:block;
  width:80%;
  height:35px;
  background-color: #fffd38;
  text-decoration:none;
  color:black;
  font-size: 15px;
  text-align:center;
  border-radius: 5px;
  margin-bottom:10px;
  padding-top: 5px;
}

@media (max-width:500px) {

 .container-1 {
  flex-direction: column;
  height: 200%;
  margin: 12px;
  padding-left: 20px;
  padding-bottom: 50px;
  }

.box {
  width:100%;
  margin-bottom: 0;
  display:flex;
  text-align:center;
  justify-content: center;
  }
}
